* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.2rem;
  background-color: black;
}
a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  cursor: pointer;
}

img{
  display: block;
  width: 100%;
}
ul{
  list-style: none;
}

button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.clock {
  width: 1440px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: white;
  overflow: hidden;
  flex-wrap: nowrap;

}
.clock__background{
  width: 1440px;
  height: 800px;
  position: absolute;
  filter: brightness(80%);
  z-index: -1;
  transition: 0.2s;
  background-repeat: no-repeat;
  background-size: cover;
  
  
 
}
.clock__background--day-desktop{
  background-image: url(../src/assets/desktop/bg-image-daytime.jpg);
}
.clock__background--night-desktop{
  background-image: url(../src/assets/desktop/bg-image-nighttime.jpg);
  
}
.clock__background--day-tablet{
  background-image: url(../src/assets/tablet/bg-image-daytime.jpg);
}
.clock__background--night-tablet{
  background-image: url(../src/assets/tablet/bg-image-nighttime.jpg);
  
}
.clock__background--day-mobile{
  background-image: url(../src/assets/mobile/bg-image-daytime.jpg);
}
.clock__background--night-mobile{
  background-image: url(../src/assets/mobile/bg-image-nighttime.jpg);
  
}

.clock__wrapper {
  height: 800px;
  padding: 50px 165px 100px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  transform: translate(0,0);
  transition: 0.2s;

}

.move {
  transform: translate(0, -400px);
}
.move--padding {
  transform: translate(0, -400px);
  padding-bottom : 30px;
}

@media(max-width : 1439px){
  html{
    font-size: 8px;
  }
  .clock {
    width: 1200px;
    height: 700px;
  
  }
  .clock__background{
    width: 1200px;
    height: 700px;

  }
  
  .clock__wrapper {
    height: 700px;
    padding: 60px 110px;
  }
  
  .move {
    transform: translate(0, -350px);
  }
  .move--padding{
    transform: translate(0, -350px);
    padding-bottom: 30px;

  }
}
@media(max-width : 1199px){
  html{
    font-size: 7px;
  }
  .clock {
    width: 1024px;
    height: 600px;
  
  }
  .clock__background{
    width: 1024px;
    height: 600px;
    
  }
  
  .clock__wrapper {
    height: 600px;
    padding: 60px 80px 40px;
  }
  
  .move {
    transform: translate(0, -300px);
  }
  .move--padding{
    transform: translate(0, -300px);
    padding-bottom: 20px;

  }

}

@media(max-width : 1023px){
  html{
    font-size: 10px;
  }
  .clock {
    width: 820px;
    height: 1024px;
  
  }
  .clock__background{
    width: 820px;
    height: 1024px;

  }
  
  
  .clock__wrapper {
    height: 1024px;
    padding: 75px 80px 75px;
  }
  
  .move {
    transform: translate(0, -440px);
  }
  .move--padding{
    transform: translate(0, -440px);
    padding-bottom: 40px;

  }
}

@media(max-width : 819px){
  .clock {
    width: 768px;
  
  }
  .clock__background{
    width: 768px;

  }
  
  .clock__wrapper {
    height: 1024px;
    padding: 75px 80px 75px;
  }
  
}

@media(max-width : 599px){
  .clock {
    width: 540px;
    height: 720px;
  
  }
  .clock__background{
    width: 540px;
    height: 720px;
  }
  
  .clock__wrapper {
    height: 720px;
    padding: 75px 80px 75px;
  }
  .move {
    transform: translate(0, -300px);
  }
  .move--padding{
    transform: translate(0, -300px);
    padding-bottom: 80px;

  }
}
@media(max-width : 459px){

  .clock {
    width: 375px;
    height: 667px;
  
  }
  .clock__background{
    width: 375px;
    height: 667px;
  }
  
  .clock__wrapper {
    height: 667px;
    padding: 20px 30px 60px;
  }
  .move {
    transform: translate(0, -256px);
  }
  .move--padding{
    transform: translate(0, -256px);

  }
}