.clock__time-wrapper{
    flex-basis: 60%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;

  }
  .clock__time-welcome{
    font-size: 3rem;
    letter-spacing: 2px;
    display: flex;
    align-items: center;

  }
  .clock__time-sun-moon{
    display: inline;
    width: auto;
    margin-right: 10px;
  }
  .clock__time{
    font-size: 20rem;
    font-weight: 700;

  }

  .clock__time-span{
    font-size: 4rem;

  }

  .clock__time-city{
    font-size: 2.4rem;
    letter-spacing: 2px;

  }
  .clock__time-wrapper2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .clock__button-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  
  }
  
  .clock__button{
  height: 56px;
  width: 146px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .clock__button:hover>.clock__button-img-wrapper{
    background-color: #999999;
  }
  .clock__button-text{
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    opacity: 0.5;
    color: black;
  }

  .clock__button-img-wrapper{
    width: 40px;
    height: 40px;
    background-color: #303030;
    border-radius: 50%;
    margin-left: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .clock__button-img-down{
  width: 40%;
  filter: brightness(0) invert(1)
  }
  .clock__button-img-up{
    width: 40%;
    filter: brightness(0) invert(1)
    }

  @media(max-width:1439px){
    .clock__button{
      height: 50px;
      width: 130px;


      }
      .clock__button-text{
        font-size: 1.5rem;
    
      }
      .clock__button-img-wrapper{
        width: 36px;
        height: 36px;
        margin-left: 10px;
      
      }

  }
  @media(max-width:1199px){
  }

  @media(max-width:1023px){
    .clock__time-wrapper2 {

      flex-direction: column;
      justify-content: initial;
      align-items: flex-start;
    }
    .clock__button{
      height: 56px;
      width: 146px;
      margin-top: 80px;
      }
  }

  @media(max-width : 599px){
  
  .clock__time-welcome{
    font-size: 1.5rem;


  }

  .clock__time{
    font-size: 10rem;
    

  }

  .clock__time-span{
    font-size: 2rem;

  }

  .clock__time-city{
    font-size: 1.5rem;

  }
  .clock__button{
    height: 40px;
    width: 120px;
    margin-top: 60px;
    }
    .clock__button-text{
      font-size: 1.2rem;
  
    }
    .clock__button-img-wrapper{
      width: 32px;
      height: 32px;
      margin-left: 8px;
    
    }

      }

      @media(max-width : 459px){
        .clock__time-welcome{
          font-size: 1.4rem;
          margin-bottom: 10px;
      
      
        }
      
        .clock__time{
          font-size: 8rem;
          margin-bottom: 10px;
          
      
        }
      
        .clock__time-span{
          font-size: 1.6rem;
      
        }
      
        .clock__time-city{
          font-size: 1.4rem;
      
        }
      }